html{
  height: 100px;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #ffffff 100%);
}
#stars
{
  height: 1px;
  width: 1px;
  border-radius: 100%;
  background: transparent;
  animation: stars 50s linear infinite;
}
#stars
{
  box-shadow:
779px 1331px #DDEB9D, 324px 42px #A0C878, 303px 586px #DDEB9D,
1312px 276px #A0C878, 451px 625px #DDEB9D, 521px 1931px #A0C878, 1087px 1871px #DDEB9D,
36px 1546px #A0C878, 132px 934px #DDEB9D, 1698px 901px #A0C878, 1418px 664px #DDEB9D,
1448px 1157px #A0C878, 1084px 232px #DDEB9D, 347px 1776px #A0C878, 1722px 243px #DDEB9D,
1629px 835px #A0C878, 479px 969px #DDEB9D, 1231px 960px #A0C878, 586px 384px #DDEB9D,
164px 527px #A0C878, 8px 646px #DDEB9D, 1150px 1126px #A0C878, 665px 1357px #DDEB9D,
1556px 1982px #A0C878, 1260px 1961px #DDEB9D, 1675px 1741px #A0C878,
1843px 1514px #DDEB9D, 718px 1628px #A0C878, 242px 1343px #DDEB9D, 1497px 1880px #A0C878,
1364px 230px #DDEB9D, 1739px 1302px #A0C878, 636px 959px #DDEB9D, 304px 686px #A0C878,
614px 751px #DDEB9D, 1935px 816px #A0C878, 1428px 60px #DDEB9D, 355px 335px #A0C878,
1594px 158px #DDEB9D, 90px 60px #A0C878, 1553px 162px #DDEB9D, 1239px 1825px #A0C878,
1945px 587px #DDEB9D, 749px 1785px #A0C878, 1987px 1172px #DDEB9D, 1301px 1237px #A0C878,
1039px 342px #DDEB9D, 1585px 1481px #A0C878, 995px 1048px #DDEB9D, 524px 932px #A0C878,
214px 413px #DDEB9D, 1701px 1300px #A0C878, 1037px 1613px #DDEB9D, 1871px 996px #A0C878,
1360px 1635px #DDEB9D, 1110px 1313px #A0C878, 412px 1783px #DDEB9D, 1949px 177px #A0C878,
903px 1854px #DDEB9D, 700px 1936px #A0C878, 378px 125px #DDEB9D, 308px 834px #A0C878,
1118px 962px #DDEB9D, 1350px 1929px #A0C878, 781px 1811px #DDEB9D, 561px 137px #A0C878,
757px 1148px #DDEB9D, 1670px 1979px #A0C878, 343px 739px #DDEB9D, 945px 795px #A0C878,
576px 1903px #DDEB9D, 1078px 1436px #A0C878, 1583px 450px #DDEB9D, 1366px 474px #A0C878,
297px 1873px #DDEB9D, 192px 162px #A0C878, 1624px 1633px #DDEB9D, 59px 453px #A0C878,
82px 1872px #DDEB9D, 1933px 498px #A0C878, 1966px 1974px #DDEB9D, 1975px 1688px #A0C878,
779px 314px #DDEB9D, 1858px 1543px #A0C878, 73px 1507px #DDEB9D, 1693px 975px #A0C878,
1683px 108px #DDEB9D, 1768px 1654px #A0C878, 654px 14px #DDEB9D, 494px 171px #A0C878,
1689px 1895px #DDEB9D, 1660px 263px #A0C878, 1031px 903px #DDEB9D, 1203px 1393px #A0C878,
1333px 1421px #DDEB9D, 1113px 41px #A0C878, 1206px 1645px #DDEB9D, 1325px 1635px #A0C878,
142px 388px #DDEB9D, 572px 215px #A0C878, 1535px 296px #DDEB9D, 1419px 407px #A0C878,
1379px 1003px #DDEB9D, 329px 469px #A0C878, 1791px 1652px #DDEB9D, 935px 1802px #A0C878,
1330px 1820px #DDEB9D, 4021px 2933px #A0C878, 828px 365px #DDEB9D, 275px 316px #A0C878,
707px 960px #DDEB9D, 1605px 1554px #A0C878, 625px 58px #DDEB9D, 717px 1697px #A0C878,
1669px 246px #DDEB9D, 1925px 322px #A0C878, 1154px 1803px #DDEB9D, 1929px 295px #A0C878,
1248px 240px #DDEB9D, 1045px 1755px #A0C878, 166px 942px #DDEB9D, 1888px 1773px #A0C878,
678px 1963px #DDEB9D, 1370px 569px #A0C878, 1974px 1400px #DDEB9D, 1786px 460px #A0C878,
51px 307px #DDEB9D, 784px 1400px #A0C878, 730px 1258px #DDEB9D, 1712px 393px #A0C878,
416px 170px #DDEB9D, 1797px 1932px #A0C878, 572px 219px #DDEB9D, 1557px 1856px #A0C878,
218px 8px #DDEB9D, 348px 1334px #A0C878, 469px 413px #DDEB9D, 385px 1738px #A0C878,
1357px 1818px #DDEB9D, 240px 942px #A0C878, 248px 1847px #DDEB9D, 1535px 806px #A0C878,
236px 1514px #DDEB9D, 1429px 1556px #A0C878, 73px 1633px #DDEB9D, 1398px 1121px #A0C878,
671px 1301px #DDEB9D, 1404px 1663px #A0C878, 740px 1018px #DDEB9D, 1600px 377px #A0C878,
785px 514px #DDEB9D, 112px 1084px #A0C878, 1915px 1887px #DDEB9D, 1463px 1848px #A0C878,
687px 1115px #DDEB9D, 1268px 1768px #A0C878, 1729px 1425px #DDEB9D, 1284px 1022px #A0C878,
801px 974px #DDEB9D, 1975px 1317px #A0C878, 1354px 834px #DDEB9D, 1446px 1484px #A0C878,
1283px 1786px #DDEB9D, 11px 523px #A0C878, 1842px 236px #DDEB9D, 1355px 654px #A0C878,
429px 7px #DDEB9D, 1033px 1128px #A0C878, 157px 297px #DDEB9D, 545px 635px #A0C878,
52px 1080px #DDEB9D, 827px 1520px #A0C878, 1121px 490px #DDEB9D, 9px 309px #A0C878,
1744px 1586px #DDEB9D, 1014px 417px #A0C878, 1534px 524px #DDEB9D, 958px 552px #A0C878,
1403px 1496px #DDEB9D, 387px 703px #A0C878, 1522px 548px #DDEB9D, 1355px 282px #A0C878,
1532px 601px #DDEB9D, 1838px 790px #A0C878, 290px 259px #DDEB9D, 295px 598px #A0C878,
1601px 539px #DDEB9D, 1561px 1272px #A0C878, 34px 1922px #DDEB9D, 1024px 543px #A0C878;
;
}
#stars::after
{
  content: '';
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
}
#stars::after
{
  box-shadow:
779px 1331px #DDEB9D, 324px 42px #A0C878, 303px 586px #DDEB9D,
1312px 276px #A0C878, 451px 625px #DDEB9D, 521px 1931px #A0C878, 1087px 1871px #DDEB9D,
36px 1546px #A0C878, 132px 934px #DDEB9D, 1698px 901px #A0C878, 1418px 664px #DDEB9D,
1448px 1157px #A0C878, 1084px 232px #DDEB9D, 347px 1776px #A0C878, 1722px 243px #DDEB9D,
1629px 835px #A0C878, 479px 969px #DDEB9D, 1231px 960px #A0C878, 586px 384px #DDEB9D,
164px 527px #A0C878, 8px 646px #DDEB9D, 1150px 1126px #A0C878, 665px 1357px #DDEB9D,
1556px 1982px #A0C878, 1260px 1961px #DDEB9D, 1675px 1741px #A0C878,
1843px 1514px #DDEB9D, 718px 1628px #A0C878, 242px 1343px #DDEB9D, 1497px 1880px #A0C878,
1364px 230px #DDEB9D, 1739px 1302px #A0C878, 636px 959px #DDEB9D, 304px 686px #A0C878,
614px 751px #DDEB9D, 1935px 816px #A0C878, 1428px 60px #DDEB9D, 355px 335px #A0C878,
1594px 158px #DDEB9D, 90px 60px #A0C878, 1553px 162px #DDEB9D, 1239px 1825px #A0C878,
1945px 587px #DDEB9D, 749px 1785px #A0C878, 1987px 1172px #DDEB9D, 1301px 1237px #A0C878,
1039px 342px #DDEB9D, 1585px 1481px #A0C878, 995px 1048px #DDEB9D, 524px 932px #A0C878,
214px 413px #DDEB9D, 1701px 1300px #A0C878, 1037px 1613px #DDEB9D, 1871px 996px #A0C878,
1360px 1635px #DDEB9D, 1110px 1313px #A0C878, 412px 1783px #DDEB9D, 1949px 177px #A0C878,
903px 1854px #DDEB9D, 700px 1936px #A0C878, 378px 125px #DDEB9D, 308px 834px #A0C878,
1118px 962px #DDEB9D, 1350px 1929px #A0C878, 781px 1811px #DDEB9D, 561px 137px #A0C878,
757px 1148px #DDEB9D, 1670px 1979px #A0C878, 343px 739px #DDEB9D, 945px 795px #A0C878,
576px 1903px #DDEB9D, 1078px 1436px #A0C878, 1583px 450px #DDEB9D, 1366px 474px #A0C878,
297px 1873px #DDEB9D, 192px 162px #A0C878, 1624px 1633px #DDEB9D, 59px 453px #A0C878,
82px 1872px #DDEB9D, 1933px 498px #A0C878, 1966px 1974px #DDEB9D, 1975px 1688px #A0C878,
779px 314px #DDEB9D, 1858px 1543px #A0C878, 73px 1507px #DDEB9D, 1693px 975px #A0C878,
1683px 108px #DDEB9D, 1768px 1654px #A0C878, 654px 14px #DDEB9D, 494px 171px #A0C878,
1689px 1895px #DDEB9D, 1660px 263px #A0C878, 1031px 903px #DDEB9D, 1203px 1393px #A0C878,
1333px 1421px #DDEB9D, 1113px 41px #A0C878, 1206px 1645px #DDEB9D, 1325px 1635px #A0C878,
142px 388px #DDEB9D, 572px 215px #A0C878, 1535px 296px #DDEB9D, 1419px 407px #A0C878,
1379px 1003px #DDEB9D, 329px 469px #A0C878, 1791px 1652px #DDEB9D, 935px 1802px #A0C878,
1330px 1820px #DDEB9D, 421px 1933px #A0C878, 828px 365px #DDEB9D, 275px 316px #A0C878,
707px 960px #DDEB9D, 1605px 1554px #A0C878, 625px 58px #DDEB9D, 717px 1697px #A0C878;
;
}
#star2
{
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: transparent;
  animation: stars 100s linear infinite;
}
#stars::after
{
  content: '';
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
}

#star2::after
{
  box-shadow:
779px 1331px #DDEB9D, 324px 42px #A0C878, 303px 586px #DDEB9D,
1312px 276px #A0C878, 451px 625px #DDEB9D, 521px 1931px #A0C878, 1087px 1871px #DDEB9D,
36px 1546px #A0C878, 132px 934px #DDEB9D, 1698px 901px #A0C878, 1418px 664px #DDEB9D,
1448px 1157px #A0C878, 1084px 232px #DDEB9D, 347px 1776px #A0C878, 1722px 243px #DDEB9D,
1629px 835px #A0C878, 479px 969px #DDEB9D, 1231px 960px #A0C878, 586px 384px #DDEB9D,
164px 527px #A0C878, 8px 646px #DDEB9D, 1150px 1126px #A0C878, 665px 1357px #DDEB9D,
1556px 1982px #A0C878, 1260px 1961px #DDEB9D, 1675px 1741px #A0C878,
1843px 1514px #DDEB9D, 718px 1628px #A0C878, 242px 1343px #DDEB9D, 1497px 1880px #A0C878,
1364px 230px #DDEB9D, 1739px 1302px #A0C878, 636px 959px #DDEB9D, 304px 686px #A0C878,
614px 751px #DDEB9D, 1935px 816px #A0C878, 1428px 60px #DDEB9D, 355px 335px #A0C878,
1594px 158px #DDEB9D, 90px 60px #A0C878, 1553px 162px #DDEB9D, 1239px 1825px #A0C878,
1945px 587px #DDEB9D, 749px 1785px #A0C878, 1987px 1172px #DDEB9D, 1301px 1237px #A0C878,
1039px 342px #DDEB9D, 1585px 1481px #A0C878, 995px 1048px #DDEB9D, 524px 932px #A0C878,
214px 413px #DDEB9D, 1701px 1300px #A0C878, 1037px 1613px #DDEB9D, 1871px 996px #A0C878,
1360px 1635px #DDEB9D, 1110px 1313px #A0C878, 412px 1783px #DDEB9D, 1949px 177px #A0C878,
903px 1854px #DDEB9D, 700px 1936px #A0C878, 378px 125px #DDEB9D, 308px 834px #A0C878,
1118px 962px #DDEB9D, 1350px 1929px #A0C878, 781px 1811px #DDEB9D, 561px 137px #A0C878,
757px 1148px #DDEB9D, 1670px 1979px #A0C878, 343px 739px #DDEB9D, 945px 795px #A0C878,
576px 1903px #DDEB9D, 1078px 1436px #A0C878, 1583px 450px #DDEB9D, 1366px 474px #A0C878,
297px 1873px #DDEB9D, 192px 162px #A0C878, 1624px 1633px #DDEB9D, 59px 453px #A0C878,
82px 1872px #DDEB9D, 1933px 498px #A0C878, 1966px 1974px #DDEB9D, 1975px 1688px #A0C878,
779px 314px #DDEB9D, 1858px 1543px #A0C878, 73px 1507px #DDEB9D, 1693px 975px #A0C878,
1683px 108px #DDEB9D, 1768px 1654px #A0C878, 654px 14px #DDEB9D, 494px 171px #A0C878,
1689px 1895px #DDEB9D, 1660px 263px #A0C878, 1031px 903px #DDEB9D, 1203px 1393px #A0C878,
1333px 1421px #DDEB9D, 1113px 41px #A0C878, 1206px 1645px #DDEB9D, 1325px 1635px #A0C878,
142px 388px #DDEB9D, 572px 215px #A0C878, 1535px 296px #DDEB9D, 1419px 407px #A0C878,
1379px 1003px #DDEB9D, 329px 469px #A0C878, 1791px 1652px #DDEB9D, 935px 1802px #A0C878,
1330px 1820px #DDEB9D, 4021px 2933px #A0C878, 828px 365px #DDEB9D, 275px 316px #A0C878,
707px 960px #DDEB9D, 1605px 1554px #A0C878, 625px 58px #DDEB9D, 717px 1697px #A0C878,
1669px 246px #DDEB9D, 1925px 322px #A0C878, 1154px 1803px #DDEB9D, 1929px 295px #A0C878,
1248px 240px #DDEB9D, 1045px 1755px #A0C878, 166px 942px #DDEB9D, 1888px 1773px #A0C878,
678px 1963px #DDEB9D, 1370px 569px #A0C878, 1974px 1400px #DDEB9D, 1786px 460px #A0C878,
51px 307px #DDEB9D, 784px 1400px #A0C878, 730px 1258px #DDEB9D, 1712px 393px #A0C878,
416px 170px #DDEB9D, 1797px 1932px #A0C878, 572px 219px #DDEB9D, 1557px 1856px #A0C878,
218px 8px #DDEB9D, 348px 1334px #A0C878, 469px 413px #DDEB9D, 385px 1738px #A0C878,
1357px 1818px #DDEB9D, 240px 942px #A0C878, 248px 1847px #DDEB9D, 1535px 806px #A0C878,
236px 1514px #DDEB9D, 1429px 1556px #A0C878, 73px 1633px #DDEB9D, 1398px 1121px #A0C878,
671px 1301px #DDEB9D, 1404px 1663px #A0C878, 740px 1018px #DDEB9D, 1600px 377px #A0C878,
785px 514px #DDEB9D, 112px 1084px #A0C878, 1915px 1887px #DDEB9D, 1463px 1848px #A0C878,
687px 1115px #DDEB9D, 1268px 1768px #A0C878, 1729px 1425px #DDEB9D, 1284px 1022px #A0C878,
801px 974px #DDEB9D, 1975px 1317px #A0C878, 1354px 834px #DDEB9D, 1446px 1484px #A0C878,
1283px 1786px #DDEB9D, 11px 523px #A0C878, 1842px 236px #DDEB9D, 1355px 654px #A0C878,
429px 7px #DDEB9D, 1033px 1128px #A0C878, 157px 297px #DDEB9D, 545px 635px #A0C878,
52px 1080px #DDEB9D, 827px 1520px #A0C878, 1121px 490px #DDEB9D, 9px 309px #A0C878,
1744px 1586px #DDEB9D, 1014px 417px #A0C878, 1534px 524px #DDEB9D, 958px 552px #A0C878,
1403px 1496px #DDEB9D, 387px 703px #A0C878, 1522px 548px #DDEB9D, 1355px 282px #A0C878,
1532px 601px #DDEB9D, 1838px 790px #A0C878, 290px 259px #DDEB9D, 295px 598px #A0C878,
1601px 539px #DDEB9D, 1561px 1272px #A0C878, 34px 1922px #DDEB9D, 1024px 543px #A0C878;
;;
}
#star3
{
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: transparent;
  animation: stars 150s linear infinite;
}
#star3
{
  box-shadow:
779px 1331px #DDEB9D, 324px 42px #A0C878, 303px 586px #DDEB9D,
1312px 276px #A0C878, 451px 625px #DDEB9D, 521px 1931px #A0C878, 1087px 1871px #DDEB9D,
36px 1546px #A0C878, 132px 934px #DDEB9D, 1698px 901px #A0C878, 1418px 664px #DDEB9D,
1448px 1157px #A0C878, 1084px 232px #DDEB9D, 347px 1776px #A0C878, 1722px 243px #DDEB9D,
1629px 835px #A0C878, 479px 969px #DDEB9D, 1231px 960px #A0C878, 586px 384px #DDEB9D,
164px 527px #A0C878, 8px 646px #DDEB9D, 1150px 1126px #A0C878, 665px 1357px #DDEB9D,
1556px 1982px #A0C878, 1260px 1961px #DDEB9D, 1675px 1741px #A0C878,
1843px 1514px #DDEB9D, 718px 1628px #A0C878, 242px 1343px #DDEB9D, 1497px 1880px #A0C878,
1364px 230px #DDEB9D, 1739px 1302px #A0C878, 636px 959px #DDEB9D, 304px 686px #A0C878,
614px 751px #DDEB9D, 1935px 816px #A0C878, 1428px 60px #DDEB9D, 355px 335px #A0C878,
1594px 158px #DDEB9D, 90px 60px #A0C878, 1553px 162px #DDEB9D, 1239px 1825px #A0C878,
1945px 587px #DDEB9D, 749px 1785px #A0C878, 1987px 1172px #DDEB9D, 1301px 1237px #A0C878,
1039px 342px #DDEB9D, 1585px 1481px #A0C878, 995px 1048px #DDEB9D, 524px 932px #A0C878,
214px 413px #DDEB9D, 1701px 1300px #A0C878, 1037px 1613px #DDEB9D, 1871px 996px #A0C878,
1360px 1635px #DDEB9D, 1110px 1313px #A0C878, 412px 1783px #DDEB9D, 1949px 177px #A0C878,
903px 1854px #DDEB9D, 700px 1936px #A0C878, 378px 125px #DDEB9D, 308px 834px #A0C878,
1118px 962px #DDEB9D, 1350px 1929px #A0C878, 781px 1811px #DDEB9D, 561px 137px #A0C878,
757px 1148px #DDEB9D, 1670px 1979px #A0C878, 343px 739px #DDEB9D, 945px 795px #A0C878,
576px 1903px #DDEB9D, 1078px 1436px #A0C878, 1583px 450px #DDEB9D, 1366px 474px #A0C878,
297px 1873px #DDEB9D, 192px 162px #A0C878, 1624px 1633px #DDEB9D, 59px 453px #A0C878,
82px 1872px #DDEB9D, 1933px 498px #A0C878, 1966px 1974px #DDEB9D, 1975px 1688px #A0C878,
779px 314px #DDEB9D, 1858px 1543px #A0C878, 73px 1507px #DDEB9D, 1693px 975px #A0C878,
1683px 108px #DDEB9D, 1768px 1654px #A0C878, 654px 14px #DDEB9D, 494px 171px #A0C878,
1689px 1895px #DDEB9D, 1660px 263px #A0C878, 1031px 903px #DDEB9D, 1203px 1393px #A0C878,
1333px 1421px #DDEB9D, 1113px 41px #A0C878, 1206px 1645px #DDEB9D, 1325px 1635px #A0C878,
142px 388px #DDEB9D, 572px 215px #A0C878, 1535px 296px #DDEB9D, 1419px 407px #A0C878,
1379px 1003px #DDEB9D, 329px 469px #A0C878, 1791px 1652px #DDEB9D, 935px 1802px #A0C878,
1330px 1820px #DDEB9D, 4021px 2933px #A0C878, 828px 365px #DDEB9D, 275px 316px #A0C878,
707px 960px #DDEB9D, 1605px 1554px #A0C878, 625px 58px #DDEB9D, 717px 1697px #A0C878,
1669px 246px #DDEB9D, 1925px 322px #A0C878, 1154px 1803px #DDEB9D, 1929px 295px #A0C878,
1248px 240px #DDEB9D, 1045px 1755px #A0C878, 166px 942px #DDEB9D, 1888px 1773px #A0C878,
678px 1963px #DDEB9D, 1370px 569px #A0C878, 1974px 1400px #DDEB9D, 1786px 460px #A0C878,
51px 307px #DDEB9D, 784px 1400px #A0C878, 730px 1258px #DDEB9D, 1712px 393px #A0C878,
416px 170px #DDEB9D, 1797px 1932px #A0C878, 572px 219px #DDEB9D, 1557px 1856px #A0C878,
218px 8px #DDEB9D, 348px 1334px #A0C878, 469px 413px #DDEB9D, 385px 1738px #A0C878,
1357px 1818px #DDEB9D, 240px 942px #A0C878, 248px 1847px #DDEB9D, 1535px 806px #A0C878,
236px 1514px #DDEB9D, 1429px 1556px #A0C878, 73px 1633px #DDEB9D, 1398px 1121px #A0C878,
671px 1301px #DDEB9D, 1404px 1663px #A0C878, 740px 1018px #DDEB9D, 1600px 377px #A0C878,
785px 514px #DDEB9D, 112px 1084px #A0C878, 1915px 1887px #DDEB9D, 1463px 1848px #A0C878,
687px 1115px #DDEB9D, 1268px 1768px #A0C878, 1729px 1425px #DDEB9D, 1284px 1022px #A0C878,
801px 974px #DDEB9D, 1975px 1317px #A0C878, 1354px 834px #DDEB9D, 1446px 1484px #A0C878,
1283px 1786px #DDEB9D, 11px 523px #A0C878, 1842px 236px #DDEB9D, 1355px 654px #A0C878,
429px 7px #DDEB9D, 1033px 1128px #A0C878, 157px 297px #DDEB9D, 545px 635px #A0C878,
52px 1080px #DDEB9D, 827px 1520px #A0C878, 1121px 490px #DDEB9D, 9px 309px #A0C878,
1744px 1586px #DDEB9D, 1014px 417px #A0C878, 1534px 524px #DDEB9D, 958px 552px #A0C878,
1403px 1496px #DDEB9D, 387px 703px #A0C878, 1522px 548px #DDEB9D, 1355px 282px #A0C878,
1532px 601px #DDEB9D, 1838px 790px #A0C878, 290px 259px #DDEB9D, 295px 598px #A0C878,
1601px 539px #DDEB9D, 1561px 1272px #A0C878, 34px 1922px #DDEB9D, 1024px 543px #A0C878;
;
}
@keyframes stars {
  from
  {
    transform: translateY(0px);
  }
  to
  {
    transform: translateY(-2000px);
  }
}

