*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
    
}
:root {
  --color-bg-main: #FFFDF6;
  --color-bg-secondary: #FAF6E9;
  --color-accent-light: #DDEB9D;
  --color-accent-dark: #A0C878;
  --color-text: #333; /* a dark gray for readability */
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body
{
    background-color: var(--color-bg-color);
    color: var(--text-color);
}
.head
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--color-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.logo
{
    font-size: 2.5rem;
    color: var(--color-text);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}
.navbar a
{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--color-text);
    margin-left: 4rem;
    transition: all .3s;
}
.navbar a:hover,
.navbar a.active
{
    color: var(--color-accent-light);
}
#menu_icon
{
    font-size: 3.2rem;
    color: var(--text-color);
    display: none;
}
.home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.home-img img {
    width: 300px;           
    height: 300px;  
    border: 10px solid #DDEB9D ;   
    object-fit: cover;   
    position: relative;
    border-radius: 30% 60% 20% ;
    animation: roll 10s ease-out infinite ;  
}
 @keyframes roll {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 3px dotted var(--color-accent-light);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    border: 5px solid var(--color-accent-light);
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    border: 6px dotted var(--color-accent-light);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    border: 8px dotted var(--color-accent-light);
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 4px dotted var(--color-accent-light);
  }
}

.home-content h3
{
    font-size: 3.2rem;
    line-height: 1.1;
    text-align: left;
    font-weight: 700;
}
.home-content h1
{
    position: relative;
    opacity: 1;
    animation: left 7s ease-out infinite forwards;
}
@keyframes left {
    0%
    {
      left:0;
      opacity: 0;
    }
  
    
}
.home-content h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}
.home-content i
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color-accent-dark);
    border-radius: 50%;
    font-size: 2rem;
     margin: 3rem 1.5rem 3rem 0;
    color: var(--color-accent-dark);
    transition: .8s ease;

}
.home-content i:hover
{
    background: var(--color-accent-dark);
    color: var(--color-accent-light);
    box-shadow: 0 0 1rem var(--color-accent-light);
}
.btn
{
    display: inline-block;
    padding: 1rem 2.3rem;
    background-color: var(--color-accent-dark);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--color-accent-light);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;

}
.btn:hover
{
    box-shadow: none;
}

.home-content
{
    margin: 10px;
    width: 100%;
}
span
{
    color: var(--color-accent-dark);
}
.home-content h1
{
    font-size: 5.2rem;
    font: 500;
    line-height: 1.3;
}
.home-content p
{
    font-size: 1.2rem;
}
.about-img img
{
    height: 300px;
    width: 300px;
    border-radius: 30%;
}
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--color-bg-secondary);

}
.heading
{
    text-align: center;
    font-size: 4rem;
}
.about-content h2
{
    text-align: left;
    line-break: 1.2;
}
.about-content h3
{
    font-size: 2.6rem;
}
.about-content p
{
    width: 35vw;
    margin: 5px;
    text-align: left;
    font-size: 1.3rem;
}
.about-content a
{
     margin:2rem 0 3rem;
}

